nav.layout {
    background-color: #DCDFE7;
    border-color: #DCDFE7;
}

.color-blue {
    color: #273279 !important;
}

.background-turquoise {
    /*background-color: #ffd15b;*/
    background-color: #6E9489;
}

section .container {
    background: #ececec;
}

.capabilities-label {
    color: #fefbf3;
    font-size: 8pt;
    padding: 0 0 0 0;
}


/* Navigation */

div.can_store .part-one {
    background-image: url('img/office-1.png');
    width: 50%;
    background-repeat: no-repeat;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

div.can_store .part-two {
    background-image: url('img/office-2.png');
    width: 50%;
    background-repeat: no-repeat;
}

div.can_store .part-one:hover {
    background-image: url('img/home-1.png');
    width: 50%;
    background-repeat: no-repeat;
}

div.can_store .part-two {
    background-image: url('img/office-2.png');
    width: 50%;
    background-repeat: no-repeat;
}

div.can_store .part-two:hover {
    background-image: url('img/home-2.png');
    width: 50%;
    background-repeat: no-repeat;
}


/* Navigation */

.img_logo_nav {
    width: 200px;
}

.img_thermometer {
    width: 20px;
}

.img_humidity {
    width: 30px;
}


/* Four step section */

.logo_second {
    width: 400px;
    margin: auto;
}

.four_steps_img {
    margin: auto;
}


/* Calculator */

.calculator_form {
    background-color: #E5E3E3;
}

.from_header {
    background-color: #495086;
    color: white;
}